@using AnswerMe.Client.Core.Enums
@using AnswerMe.Client.Core.Models
@using AnswerMe.Client.Componenets.UploadStashPreview

    <div style="width: 85%;font-size: larger" class="grid grid-cols-12 gap-8 mb-2">
        <div class="col-span-10 ">
            <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                @switch (FileType)
                {
                    case FileType.Image:
                        <ImageUploadStash UploadedMediaList="UploadedMediaList"/>
                        break;
                    case FileType.Audio:
                        <AudioUploadStash UploadedMediaList="UploadedMediaList"/>
                        break;
                    case FileType.Video:
                        <VideoUploadStash UploadedMedia="UploadedMediaList.First()"/>
                        break;
                    case FileType.Other:
                        <OtherUploadStash UploadedMediaList="UploadedMediaList"/>
                        break;
                }
            </div>
        </div>
     

    </div>
 

@code {
    [Parameter]
    public List<UploadModel> UploadedMediaList { get; set; } = null!;
    [Parameter] 
    public FileType FileType { get; set; }
    
}