* {
    font-family: "Comic Sans MS", serif;
}

.primary-liner-gradient {
    background: linear-gradient(144deg, rgba(116, 128, 255, 1) 0%, rgba(100, 25, 230, 1) 100%);
    color: wheat;
}

.dark-liner-gradient {
    background: linear-gradient(125deg, #274060 0%, #1B2845 100%);
    color: antiquewhite;
}


.loginBackground {
    background-image: url("/image/LoginBackground.jpg");
}

@keyframes backInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px) scale(0.7);
    }
    80% {
        transform: translateX(-20px) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.backInRight {
    animation-name: backInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

@keyframes backInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px) scale(0.7);
    }
    80% {
        transform: translateX(20px) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.backInLeft {
    animation-name: backInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}


.glass-box {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgb(149, 113, 204, 0.25);
    border-radius: 12px;
    color: #fff;
    
}

.tab-primary input:checked {
    background: linear-gradient(144deg, rgba(116, 128, 255, 1) 0%, rgba(100, 25, 230, 1) 100%);
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background: linear-gradient(144deg, rgba(116, 128, 255, 1) 0%, rgba(100, 25, 230, 1) 100%);
}


.nav-section {
    transform: translateX(0%);
    transition-duration: 0.5s;
    animation-delay: 0.3s;
    position: fixed;
    width: 100%;
}

.menu-on {
    transform: translateX(0%) !important;
}

.menu-off {
    transform: translateX(-150%) !important;
}

.chat-content {


}

.send-box {
    position: fixed;
    bottom: 6%;
    padding: 0.8%;
    width: 80%;
    background-color: rgb(29, 35, 42);
    margin-left: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.responsive-send-box button {
    @media (min-width: 275px) {
        /* Styles for screens with a width of 640 pixels and larger */
        width: 3rem;
    }

    /* Medium screen size (sm) */
    @media (min-width: 640px) {
        /* Styles for screens with a width of 640 pixels and larger */
        width: 3rem;
    }

    @media (min-width: 768px) {
        /* Styles for screens with a width of 768 pixels and larger */
        width: 4rem;
        height: 4rem;
    }
}

.responsive-send-button {
    @media (min-width: 275px) {
        /* Styles for screens with a width of 640 pixels and larger */
        margin-right: 3rem;
    }

    /* Medium screen size (sm) */
    @media (min-width: 640px) {
        /* Styles for screens with a width of 640 pixels and larger */
        margin-right: 3rem;
    }

    @media (min-width: 768px) {
        /* Styles for screens with a width of 768 pixels and larger */
        margin-right: 6rem;
    }
}

.responsive-send-box {

    /* Medium screen size (sm) */
    @media (min-width: 275px) {
        /* Styles for screens with a width of 640 pixels and larger */
        width: 100%;
    }

    /* Medium screen size (sm) */
    @media (min-width: 640px) {
        /* Styles for screens with a width of 640 pixels and larger */
        width: 100%;
        padding: 10px;
    }

    /* Large screen size (md) */
    @media (min-width: 768px) {
        /* Styles for screens with a width of 768 pixels and larger */
        width: 100%;
    }

    /* Extra-large screen size (lg) */
    @media (min-width: 1024px) {
        /* Styles for screens with a width of 1024 pixels and larger */
        width: 100%;
    }

    /* Extra-large screen size (xl) */
    @media (min-width: 1280px) {
        /* Styles for screens with a width of 1280 pixels and larger */
        width: 74%;
    }

    /* Extra-extra-large screen size (2xl) */
    @media (min-width: 1536px) {
        /* Styles for screens with a width of 1536 pixels and larger */
        width: 75%;
    }
}


.responsive-chat-area {

    @media (min-width: 275px) {
        /* Styles for screens with a width of 275 pixels and larger */
        width: 97%;
    }
    
    /* Medium screen size (sm) */
    @media (min-width: 640px) {
        /* Styles for screens with a width of 640 pixels and larger */
        width: 97%;
    }

    /* Large screen size (md) */
    @media (min-width: 768px) {
        /* Styles for screens with a width of 768 pixels and larger */
        width: 97%;
    }

    /* Extra-large screen size (lg) */
    @media (min-width: 1024px) {
        /* Styles for screens with a width of 1024 pixels and larger */
        width: 97%;
    }

    /* Extra-large screen size (xl) */
    @media (min-width: 1280px) {
        /* Styles for screens with a width of 1280 pixels and larger */
        width: 72.5%;
    }

    /* Extra-extra-large screen size (2xl) */
    @media (min-width: 1536px) {
        /* Styles for screens with a width of 1536 pixels and larger */
        width: 73%;
    }
}


.chat-area {
    margin-top: 5%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    bottom: 6%;
}


.body-content {

    /* Medium screen size (sm) */
    @media (min-width: 640px) {
        .element {
            /* Styles for screens with a width of 640 pixels and larger */
            margin-left: 0%;
        }
    }

    /* Large screen size (md) */
    @media (min-width: 768px) {
        .element {
            /* Styles for screens with a width of 768 pixels and larger */
            margin-left: 0%;
        }
    }

    /* Extra-large screen size (lg) */
    @media (min-width: 1024px) {
        .element {
            /* Styles for screens with a width of 1024 pixels and larger */
            margin-left: 0%;
        }
    }

    /* Extra-large screen size (xl) */
    @media (min-width: 1280px) {
        .element {
            /* Styles for screens with a width of 1280 pixels and larger */
            margin-left: 25%;
        }
    }

    /* Extra-extra-large screen size (2xl) */
    @media (min-width: 1536px) {
        .element {
            /* Styles for screens with a width of 1536 pixels and larger */
            margin-left: 25%;
        }
    }
}


::-webkit-scrollbar-track {
    border: 5px solid #1f2937;
/ / border color does not support transparent on scrollbar / / border-color: transparent;
    background-color: #1f2937;

}

::-webkit-scrollbar {
    width: 15px;
    background-color: #1f2937;
}

::-webkit-scrollbar-thumb {
    background-color: #6419e6;
    border-radius: 10px;
}
