@using AnswerMe.Client.Core.Extensions
@using Models.Shared.Requests.Shared
@using Models.Shared.Responses.Group
@using Models.Shared.Responses.Shared
@inject IGroupService GroupService
@inject AuthStateProvider AuthStateProvider


<ul class="space-y-2 font-medium p-2 rounded-lg bg-base-300 w-full" style="height: 300px;overflow-y: auto">

    @foreach (var user in _users)
    {
        <li class="flex  hover:bg-gray-800 hover:cursor-pointer" style="border-radius: 0.5em;margin-top:40px ">
            <div class="avatar" style="display: grid">
                <div class="w-16 rounded-full  ring-offset-base-100 ring-offset-2" style="justify-self: center">
                    <UserAvatar Class="w-16" ImageUrl="@user.ProfileImage" Letter="@user.Name?.FirstLetter()"/>

                </div>
            </div>
            <div class="w-full  flex flex-col-reverse">
                <div style="display: grid;margin-top: 15px">
                    <p class="text-primary" style="margin-left: 15px;font-size: 12px ">admin</p>
                </div>
                <div style="display: grid">
                    <h1 style="margin-left: 15px;font-style: italic;font-weight: bold">@user.Name </h1>
                    <div method="dialog" style=" grid-column-end: 12;position: relative">
                        <div class="lg:tooltip" data-tip="Start Messaging">
                            <StartChatComponent UserId="user.Id"/>
                        </div>


                        @if (IsGroupAdmin)
                        {
                            <button @onclick="() => KickUser(user.Id)" class="btn btn-square" style="position: absolute;right: 80px">
                                <svg style="max-width: 30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="Kickstarter">
                                    <path fill="#f22874" d="m10.379 8 3.471-3.819A2.5 2.5 0 0 0 10.151.817L6 5.384V2.5a2.5 2.5 0 1 0-5 0v11a2.5 2.5 0 1 0 5 0v-2.883l4.15 4.565a2.494 2.494 0 0 0 1.851.818 2.5 2.5 0 0 0 1.849-4.181L10.379 8z" class="color4caf50 svgShape"></path>
                                </svg>
                            </button>
                            @if (user.IsAdmin)
                            {
                                <button @onclick="()=>RemoveFromAdmin(user.Id)" class="btn btn-square" style="position: absolute;right: 150px">
                                    <svg style="max-width: 30px" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 128 128" id="Manager">
                                        <path d="M91.755 16.041a2.014 2.014 0 0 0-.227-.33 32.299 32.299 0 1 0 .327.567 1.967 1.967 0 0 0-.1-.237Zm-54.623 8.08c.32.017.682.029 1.085.029a20.576 20.576 0 0 0 17.22-9.094c4.697 3.813 17.715 12.237 33.708 4.62a27.79 27.79 0 0 1 2.23 6.435c-.055.018-.11.028-.163.05l-5.225 2.24a3.99 3.99 0 0 0-3.531-2.819 44.128 44.128 0 0 0-2.807-.082c-4.76 0-8.413.63-10.858 1.874A3.985 3.985 0 0 0 66.89 29.5h-5.778a3.986 3.986 0 0 0-1.902-2.126C56.764 26.13 53.11 25.5 48.352 25.5c-1.617 0-2.76.079-2.808.082a3.99 3.99 0 0 0-3.531 2.819l-5.225-2.24c-.053-.022-.108-.033-.162-.05a27.76 27.76 0 0 1 .506-1.99ZM92 32a28 28 0 0 1-56 0c0-.604.026-1.202.063-1.797l5.452 2.337c.105 5.667 3.745 8.241 6.037 8.833a4 4 0 0 0 1 .127h4.798q.14 0 .281-.01a7.995 7.995 0 0 0 5.982-3.046A9.43 9.43 0 0 0 61.45 33.5h5.1a9.43 9.43 0 0 0 1.836 4.944 7.995 7.995 0 0 0 5.983 3.046q.14.01.28.01h4.799a3.999 3.999 0 0 0 1-.127c2.292-.592 5.932-3.166 6.037-8.833l5.451-2.337c.038.595.064 1.193.064 1.797Z" fill="#f22874" class="color000000 svgShape"></path><path d="M67.61 49.061a5.24 5.24 0 0 1-7.22 0 2 2 0 0 0-2.78 2.878 9.278 9.278 0 0 0 12.78 0 2 2 0 0 0-2.78-2.878zm-11.035 55.973C44.395 87.984 39.449 69.157 38.263 64h7.73c-3.945 9.589 2.69 20.354 7.57 25.392a2 2 0 0 0 3.303-.674l.512-1.332 1.164 1.058zM61.373 77H67.5l2 6-5.5 5-5.081-4.62zM64 114.121a83.543 83.543 0 0 1-3.94-4.512l2.141-18.054a3.856 3.856 0 0 0 3.598 0l2.14 18.044A82.442 82.442 0 0 1 64 114.121zM93 60h-6.41a36.05 36.05 0 0 1-11.89 6.38 11.957 11.957 0 0 1-21.4 0A36.05 36.05 0 0 1 41.41 60H35A27.028 27.028 0 0 0 8 87v39a2.006 2.006 0 0 0 2 2h108a2.006 2.006 0 0 0 2-2V87a27.028 27.028 0 0 0-27-27zM69.46 88.44l1.9-1.73.77 2.01a2.031 2.031 0 0 0 1.47 1.24 1.809 1.809 0 0 0 .4.04 2.013 2.013 0 0 0 1.44-.61c4.88-5.04 11.51-15.8 7.57-25.39h6.72c-1.22 5.18-6.25 24.05-18.31 41.01zM107 102.5H89a2 2 0 0 1 0-4h1v-4a2 2 0 0 1 4 0v4h13a2 2 0 0 1 0 4z" fill="#f22874" class="color000000 svgShape"></path>
                                    </svg>
                                </button>
                            }
                            else
                            {
                                <button @onclick="()=>SetAsAdmin(user.Id)" class="btn btn-square" style="position: absolute;right: 150px">
                                    <svg style="max-width: 30px" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 128 128" id="Manager">
                                        <path d="M91.755 16.041a2.014 2.014 0 0 0-.227-.33 32.299 32.299 0 1 0 .327.567 1.967 1.967 0 0 0-.1-.237Zm-54.623 8.08c.32.017.682.029 1.085.029a20.576 20.576 0 0 0 17.22-9.094c4.697 3.813 17.715 12.237 33.708 4.62a27.79 27.79 0 0 1 2.23 6.435c-.055.018-.11.028-.163.05l-5.225 2.24a3.99 3.99 0 0 0-3.531-2.819 44.128 44.128 0 0 0-2.807-.082c-4.76 0-8.413.63-10.858 1.874A3.985 3.985 0 0 0 66.89 29.5h-5.778a3.986 3.986 0 0 0-1.902-2.126C56.764 26.13 53.11 25.5 48.352 25.5c-1.617 0-2.76.079-2.808.082a3.99 3.99 0 0 0-3.531 2.819l-5.225-2.24c-.053-.022-.108-.033-.162-.05a27.76 27.76 0 0 1 .506-1.99ZM92 32a28 28 0 0 1-56 0c0-.604.026-1.202.063-1.797l5.452 2.337c.105 5.667 3.745 8.241 6.037 8.833a4 4 0 0 0 1 .127h4.798q.14 0 .281-.01a7.995 7.995 0 0 0 5.982-3.046A9.43 9.43 0 0 0 61.45 33.5h5.1a9.43 9.43 0 0 0 1.836 4.944 7.995 7.995 0 0 0 5.983 3.046q.14.01.28.01h4.799a3.999 3.999 0 0 0 1-.127c2.292-.592 5.932-3.166 6.037-8.833l5.451-2.337c.038.595.064 1.193.064 1.797Z" fill="#6563ff" class="color000000 svgShape"></path><path d="M67.61 49.061a5.24 5.24 0 0 1-7.22 0 2 2 0 0 0-2.78 2.878 9.278 9.278 0 0 0 12.78 0 2 2 0 0 0-2.78-2.878zm-11.035 55.973C44.395 87.984 39.449 69.157 38.263 64h7.73c-3.945 9.589 2.69 20.354 7.57 25.392a2 2 0 0 0 3.303-.674l.512-1.332 1.164 1.058zM61.373 77H67.5l2 6-5.5 5-5.081-4.62zM64 114.121a83.543 83.543 0 0 1-3.94-4.512l2.141-18.054a3.856 3.856 0 0 0 3.598 0l2.14 18.044A82.442 82.442 0 0 1 64 114.121zM93 60h-6.41a36.05 36.05 0 0 1-11.89 6.38 11.957 11.957 0 0 1-21.4 0A36.05 36.05 0 0 1 41.41 60H35A27.028 27.028 0 0 0 8 87v39a2.006 2.006 0 0 0 2 2h108a2.006 2.006 0 0 0 2-2V87a27.028 27.028 0 0 0-27-27zM69.46 88.44l1.9-1.73.77 2.01a2.031 2.031 0 0 0 1.47 1.24 1.809 1.809 0 0 0 .4.04 2.013 2.013 0 0 0 1.44-.61c4.88-5.04 11.51-15.8 7.57-25.39h6.72c-1.22 5.18-6.25 24.05-18.31 41.01zM107 102.5H89a2 2 0 0 1 0-4h1v-4a2 2 0 0 1 4 0v4h13a2 2 0 0 1 0 4z" fill="#6563ff" class="color000000 svgShape"></path>
                                    </svg>
                                </button>
                            }
                        }


                    </div>

                </div>
            </div>
        </li>
    }
    @if (_showLoadMore)
    {
        <li class="flex " style="border-radius: 0.5em;margin-top:40px ;justify-content: center">
            <button @onclick="LoadMore" class="btn btn-outline btn-accent btn-sm">Load More</button>
        </li>
    }


</ul>

@code {
    [Parameter] public Guid RoomId { get; set; }
    [Parameter] public bool IsGroupAdmin { get; set; }
    [Parameter] public EventCallback RefreshMemberCount { get; set; }
    private PaginationRequest _paginationRequest = new() { CurrentPage = 1, PageSize = 2 };
    private bool _showLoadMore = true;
    private List<PreviewGroupUserResponse> _users = [];


    protected override async Task OnInitializedAsync()
    {
        _paginationRequest.CurrentPage = 1;
        var response = await GroupService.UserListAsync(RoomId, _paginationRequest);
        if (response.IsSuccess)
        {
            var result = response.AsSuccess.Value;
            _showLoadMore = result.Pagination.TotalPages > _paginationRequest.CurrentPage;
            _users = result.Items;
            
            _paginationRequest.CurrentPage = result.Pagination.CurrentPage;
        }
    }

    private async Task SetAsAdmin(Guid userId)
    {
        var response = await GroupService.SetUserAsAdminAsync(RoomId, userId);
        if (response.IsSuccess)
        {
            _users.Single(x => x.Id == userId).IsAdmin=true;
            StateHasChanged();
        }
    }

    private async Task RemoveFromAdmin(Guid userId)
    {
        var response = await GroupService.RemoveUserFromAdminsAsync(RoomId, userId);
        if (response.IsSuccess)
        {
            _users.Single(x => x.Id == userId).IsAdmin=false;
            StateHasChanged();
        }
    }
    
  

    private async Task LoadMore()
    {
        _paginationRequest.CurrentPage += 1;
        var response = await GroupService.UserListAsync(RoomId, _paginationRequest);
        if (response.IsSuccess)
        {
            var result = response.AsSuccess.Value;
            _users.AddRange(result.Items);
            if (_paginationRequest.CurrentPage == result.Pagination.TotalPages)
            {
                _showLoadMore = false;
            }
        }
    }

    private async Task KickUser(Guid userId)
    {
        var response = await GroupService.KickUserAsync(RoomId, userId);
        if (response.IsSuccess)
        {
            await RefreshMemberCount.InvokeAsync();
            await OnInitializedAsync();
        }
    }

}