@using Models.Shared.Requests.User

<div class="hero min-h-screen bg-base-200 loginBackground">

    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">

            <div style="margin-top:20px">
                <div class="flex" style="position: absolute;width: 100%;justify-content: center;margin-top: 10px">
                    <div class="avatar" style="align-self: center">
                        <div class="w-16 h-16 rounded-full">
                            <img src="image/Logo.jpeg" />
                        </div>
                    </div>
                    <h1 style="align-self: center;margin-left: 5px;font-weight: bold">Answer Me</h1>
                </div>
            </div>
            
            
            <div role="tablist" class="tabs tabs-boxed grid grid-cols-2 tab-primary" style="margin-top:100px">

                <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Login" style="color: wheat" checked>
                <div role="tabpanel" class="tab-content ">
                    <EditForm class="card-body" Model="LoginUserRequest" method="post" OnValidSubmit="LoginHandler" FormName="login" >
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Phone Number</span>
                            </label>
                            <input type="number" @bind-value="LoginUserRequest.PhoneNumber" placeholder="phone" class="input input-bordered" required />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Password</span>
                            </label>
                            <input type="password" @bind-value="LoginUserRequest.Password" placeholder="password" class="input input-bordered" required />

                        </div>
                        <div class="form-control mt-6">
                            <button type="submit" style=" background: linear-gradient(144deg, rgba(116,128,255,1) 0%, rgba(100,25,230,1) 100%);color: wheat"  class="btn btn-primary" >Login</button>
                        </div>

                    </EditForm>
                </div>

                <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Register" style="color: wheat"  />
                <div role="tabpanel" class="tab-content ">
                    <EditForm class="card-body" Model="RegisterUserRequest" method="post" OnValidSubmit="RegisterHandler" FormName="register">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">UserName</span>
                            </label>
                            <input type="text" @bind-value="RegisterUserRequest.IdName" placeholder="UserName" class="input input-bordered" required />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Phone Number</span>
                            </label>
                            <input type="number" @bind-value="RegisterUserRequest.PhoneNumber" placeholder="phone" class="input input-bordered" required />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Password</span>
                            </label>
                            <input type="password" @bind-value="RegisterUserRequest.Password" placeholder="password" class="input input-bordered" required />

                        </div>
                        <div class="form-control mt-6">
                            <button type="submit" style=" background: linear-gradient(144deg, rgba(116,128,255,1) 0%, rgba(100,25,230,1) 100%);color: wheat"  class="btn btn-primary">Register</button>
                        </div>


                    </EditForm>
                </div>

            </div>

          
        </div>
    </div>
</div>


@code
{
    [SupplyParameterFromForm(FormName = "login")]
    private LoginUserRequest LoginUserRequest { get; set; } = new();

    [SupplyParameterFromForm(FormName = "register")]
    private RegisterUserRequest RegisterUserRequest { get; set; } = new();


    private void LoginHandler()
    {
        Console.WriteLine(LoginUserRequest.PhoneNumber);
        Console.WriteLine(LoginUserRequest.Password);
    }

    private void RegisterHandler()
    {
        Console.WriteLine(RegisterUserRequest.PhoneNumber);
        Console.WriteLine(RegisterUserRequest.IdName);
        Console.WriteLine(RegisterUserRequest.Password);
    }
}



