@using Microsoft.AspNetCore.SignalR.Client
@using System.Net.Http.Headers
@using AnswerMe.Client.Core.DTOs.Base
@using AnswerMe.Client.Core.Services
@using Microsoft.AspNetCore.Http.Connections
@inject IOnlineHubService OnlineHubService
@inject IUserService UserService
@inject ILocalStorageService localStorageService
@inject AppSettings AppSettings

<div class="flex" style="position: absolute;width: 100%;justify-content: center;margin-top: 10px">
    <div id="@NavMenu.ElementIds.HeaderAvatar" class="avatar offline" style="align-self: center">
        <div class="w-16 h-16 rounded-full">
            <img src="image/Logo.jpeg"/>
        </div>
    </div>

    <h1 class="" style="align-self: center;margin-left: 5px;font-weight: bold;padding: 10px">
        <span id="@NavMenu.ElementIds.HeaderText"  style="position: relative">Answer Me</span>

    </h1>
</div>

