@page "/"

<div class="p-4 sm:ml-64 body-content element">

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 chat-area responsive-chat-area" style="border-bottom: none">
        <div class="chat-content mb-60">
@for (var i = 0; i < 2; i++)
{
    <div id="@i" class="chat chat-start">
        <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
    </div>
}

            <div  class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div  class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">
                    <div class="card w-96 bg-base-100 shadow-xl">
                        <figure>
                            <img src="/image/ProfileImage.jpg" alt="Shoes"/>
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Shoes!</h2>
                            <p>If a dog chews shoes whose shoes does he choose?</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <p>what a good ideat</p>
                    what a greate idea
                </div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-primary">What kind of nonsense is this</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-secondary">Put me on the Council and not make me a Master!??</div>
            </div>
            <div class="chat chat-start">
                <div class="chat-bubble chat-bubble-accent">That's never been done in the history of the Jedi. It's insulting!</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-info">Calm down, Anakin.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-success">You have been given a great honor.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-warning">To be on the Council at your age.</div>
            </div>
            <div class="chat chat-end">
                <div class="chat-bubble chat-bubble-error">It's never happened before.</div>
            </div>


        </div>

        <div class="send-box responsive-send-box ">
            <textarea style="height: 100px;width: 85%" class="textarea textarea-primary  mr-2 " placeholder="write you message ..."></textarea>

            <button class="btn btn-circle mr-2 w-16 " >
                <svg class="p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="paperclip">
                    <path fill="#6563FF" d="M18.08,12.42,11.9,18.61a4.25,4.25,0,0,1-6-6l8-8a2.57,2.57,0,0,1,3.54,0,2.52,2.52,0,0,1,0,3.54l-6.9,6.89A.75.75,0,1,1,9.42,14l5.13-5.12a1,1,0,0,0-1.42-1.42L8,12.6a2.74,2.74,0,0,0,0,3.89,2.82,2.82,0,0,0,3.89,0l6.89-6.9a4.5,4.5,0,0,0-6.36-6.36l-8,8A6.25,6.25,0,0,0,13.31,20l6.19-6.18a1,1,0,1,0-1.42-1.42Z"></path>
                </svg>
            </button>

            <button class="btn btn-circle w-16   responsive-send-button" >
                <svg class="p-2 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="message">
                    <path fill="#6563FF" d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z"></path>
                </svg>

            </button>

        </div>


    </div>
</div>