<div class="px-3 py-3 lg:px-5 lg:pl-3 cursor-pointer btn-ghost" style="border: none;border-radius: 20px;">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-start ">
            <div class="  pr-3 pl-3 " style="display: flex;align-items: center;border-radius: 10px">

                <svg
                    class="w-16"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 28 28"
                    id="Music"
                >
                    <defs>
                        <linearGradient id="a" x1="0%" x2="100%" y1="0%" y2="100%">
                            <stop offset="0%" stop-color="rgba(130, 145, 255, 1)"></stop>
                            <stop offset="100%" stop-color="rgba(110, 30, 235, 1)"></stop>
                        </linearGradient>
                    </defs>
                    <rect width="28" height="28" fill="url(#a)" rx="5.917" ry="5.917"></rect>
                    <path
                        fill="#ffffff"
                        d="M18.48 7a.5.5 0 0 0-.106.016l-8 2a.5.5 0 0 0-.378.484v7.781a1.969 1.969 0 0 0-1-.28c-1.1 0-2 .9-2 2 0 1.098.9 2 2 2 1.06 0 1.928-.843 1.988-1.89a.498.498 0 0 0 .012-.11v-5.61l7-1.75v3.64a1.969 1.969 0 0 0-1-.28c-1.1 0-2 .9-2 2 0 1.098.9 2 2 2 1.06 0 1.928-.843 1.988-1.89a.498.498 0 0 0 .012-.11v-5.934a.5.5 0 0 0 0-.133V7.5a.5.5 0 0 0-.516-.5zm-.484 1.14v2.47l-7 1.75V9.89zm-1 7.86c.558 0 1 .442 1 1s-.442 1-1 1c-.559 0-1-.442-1-1s.441-1 1-1zm-8 2c.558 0 1 .442 1 1s-.442 1-1 1c-.559 0-1-.442-1-1s.441-1 1-1z"
                        color="#000"
                        font-family="sans-serif"
                        font-weight="400"
                        overflow="visible"
                        style="
      line-height: normal;
      text-indent: 0;
      text-align: start;
      text-decoration-line: none;
      text-decoration-style: solid;
      text-decoration-color: #000;
      text-transform: none;
      block-progression: tb;
      isolation: auto;
      mix-blend-mode: normal;
    "
                    ></path>
                </svg>


                <div style="margin-left: 10px">
                    <div style="margin-right: 5px">@Name.SummarizeIfMoreThan(30)</div>
                    <p style="text-transform: lowercase;margin-top: 2px;font-size: 13px;">audio file</p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public required string Url { get; set; }

    [Parameter] public required string Name { get; set; }

}