@using AnswerMe.Client.Core.AnimationLibrary
@using AnswerMe.Client.Core.Enums

@if (_chooseUploadTypeToolBar)
{
    <div class="flex w-full flex-col ">
        <ul class="menu menu-horizontal bg-base-200 rounded-box mt-6 self-center p-8 overflow-hidden">
            <li @onclick="() => Choose(FileType.Other)">
                <a class="tooltip" data-tip="File">
                    <svg class="w-16" viewBox="0 0 470 468" id="Video" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <filter id="a" width="111.8%" height="111.9%" x="-5.9%" y="-3.9%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="4"/>
                                <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.078125 0"/>
                                <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter2"/>
                                <feGaussianBlur in="shadowOffsetOuter2" result="shadowBlurOuter2" stdDeviation="5.5"/>
                                <feColorMatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.210824275 0"/>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"/>
                                    <feMergeNode in="shadowMatrixOuter2"/>
                                </feMerge>
                            </filter>
                            <linearGradient id="gradientBackground" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" style="stop-color:rgba(130, 145, 255, 1); stop-opacity:1" />
                                <stop offset="100%" style="stop-color:rgba(110, 30, 235, 1); stop-opacity:1" />
                            </linearGradient>
                            <path id="b" d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z"/>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(11 7)" fill="url(#gradientBackground)" class="color000000 svgShape">
                                <path d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z" fill="url(#gradientBackground)" filter="url(#a)" class="color000000 svgShape"/>
                                <path d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z" fill="url(#gradientBackground)" class="color987efc svgShape"/>
                            </g>
                            <path fill="#ffffff" d="M 351.833 198.667 L 370.833 198.667 L 370.717 301.692 C 370.688 326.447 350.613 346.5 325.858 346.5 L 154.333 346.5 L 154.333 327.5 L 323.346 327.5 C 339.079 327.5 351.833 314.746 351.833 299.014 L 351.833 198.667 Z M 206.178 134.747 C 203.86 132.759 200.907 131.667 197.854 131.667 L 120.667 131.667 L 120.667 346.334 L 100 346.334 L 100 124.67 C 100 117.12 106.12 111 113.669 111 L 204.256 111 C 208.02 111 211.661 112.344 214.522 114.79 L 246.876 142.44 C 249.564 144.737 252.983 146 256.519 146 L 368 146 L 368 166.667 L 249.241 166.667 C 245.723 166.667 242.32 165.417 239.638 163.142 L 206.178 134.748 L 206.178 134.747 Z" class="colorffffff svgShape"/>
                        </g>
                    </svg>
                </a>
            </li>
            <li @onclick="() => Choose(FileType.Image)">
                <a class="tooltip" data-tip="Image">
                    <svg class="w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 470 468" id="Images">
                        <defs>
                            <filter id="a" width="111.8%" height="111.9%" x="-5.9%" y="-3.9%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="4"></feGaussianBlur>
                                <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.078125 0"></feColorMatrix>
                                <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
                                <feGaussianBlur in="shadowOffsetOuter2" result="shadowBlurOuter2" stdDeviation="5.5"></feGaussianBlur>
                                <feColorMatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.210824275 0"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
                                </feMerge>
                            </filter>
                            <linearGradient id="gradientBackground" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" style="stop-color:rgba(130, 145, 255, 1); stop-opacity:1" />
                                <stop offset="100%" style="stop-color:rgba(110, 30, 235, 1); stop-opacity:1" />
                            </linearGradient>
                            <path id="b" d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z"></path>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(-21 -26)" fill="url(#gradientBackground)" class="color000000 svgShape">
                                <g fill="url(#gradientBackground)" class="color000000 svgShape">
                                    <g transform="translate(32 33)" fill="url(#gradientBackground)" class="color000000 svgShape">
                                        <use fill="url(#gradientBackground)" filter="url(#a)" xlink:href="#b" class="color000000 svgShape"></use>
                                        <use fill="url(#gradientBackground)" xlink:href="#b" class="color60baff svgShape"></use>
                                    </g>
                                    <path fill="#ffffff" d="M322.15 106c9.306 0 16.85 7.544 16.85 16.851v182.504C339 320.07 327.07 332 312.355 332H155.66c-8.433 0-12.389-10.43-6.077-16.022l82.542-82.542L244.5 245.81l-68.692 68.69H308.94c6.937 0 12.56-5.624 12.56-12.56v-30.712l-25.984-25.983-45.605 45.607-12.374-12.374 47.144-47.146c5.986-5.984 15.688-5.984 21.672 0l1.538 1.54 13.61 13.607V123.5h-194V332H110V122.851c0-9.307 7.543-16.85 16.85-16.85h195.298zm-102.817 79.444c0 17.12-13.879 31-31 31-17.12 0-31-13.88-31-31 0-17.121 13.88-31 31-31 17.121 0 31 13.879 31 31zm-48.333 0c0 9.573 7.761 17.333 17.333 17.333 9.573 0 17.334-7.76 17.334-17.333 0-9.573-7.761-17.333-17.334-17.333-9.572 0-17.333 7.76-17.333 17.333z" transform="translate(32 33)" class="colorffffff svgShape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>

                </a>
            </li>


            <li @onclick="() => Choose(FileType.Audio)">
                <a class="tooltip" data-tip="Audio">
                    <svg class="w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 470 468" id="Music">
                        <defs>
                            <filter id="a" width="111.8%" height="111.9%" x="-5.9%" y="-3.9%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="4"></feGaussianBlur>
                                <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.078125 0"></feColorMatrix>
                                <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
                                <feGaussianBlur in="shadowOffsetOuter2" result="shadowBlurOuter2" stdDeviation="5.5"></feGaussianBlur>
                                <feColorMatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.210824275 0"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
                                </feMerge>
                            </filter>
                            <linearGradient id="gradientBackground" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" style="stop-color:rgba(130, 145, 255, 1); stop-opacity:1" />
                                <stop offset="100%" style="stop-color:rgba(110, 30, 235, 1); stop-opacity:1" />
                            </linearGradient>
                            <path id="b" d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z"></path>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(-21 -26)" fill="url(#gradientBackground)" class="color000000 svgShape">
                                <g fill="url(#gradientBackground)" class="color000000 svgShape">
                                    <g transform="translate(32 33)" fill="url(#gradientBackground)" class="color000000 svgShape">
                                        <use fill="url(#gradientBackground)" filter="url(#a)" xlink:href="#b" class="color000000 svgShape"></use>
                                        <use fill="url(#gradientBackground)" xlink:href="#b" class="color60baff svgShape"></use>
                                    </g>
                                    <path fill="#ffffff" d="M297.336 148.102C269.564 120.026 219 95 219 95v192.005c0 9.206-2.837 18.268-8.472 25.55-5.488 7.09-14.285 13.536-28.131 13.536-16.225 0-24.896-9.6-24.896-24.833 0-15.234 15.243-25.695 31.16-28.833 3.38-.667 8.339-.98 8.339-.98v-17.27a58.9 58.9 0 0 0-3-.084c-27.622 0-55 22.065-55 48s16.71 41.667 44.334 41.667c27.398 0 52.912-19.72 52.912-62.986 0-43.264.088-157.753.088-157.753 11.372 6.37 29.556 17.522 45.534 31.652 25.534 22.58-8.534 60.42-8.534 60.42l13.333 11.667s40.333-48.667 10.669-78.656" transform="translate(32 33)" class="colorffffff svgShape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>

            <li @onclick="() => Choose(FileType.Video)">
                <a class="tooltip" data-tip="Video">
                    <svg class="w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 470 468" id="Videoplaybutton">
                        <defs>
                            <filter id="a" width="111.8%" height="111.9%" x="-5.9%" y="-3.9%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="4"></feGaussianBlur>
                                <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.078125 0"></feColorMatrix>
                                <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
                                <feGaussianBlur in="shadowOffsetOuter2" result="shadowBlurOuter2" stdDeviation="5.5"></feGaussianBlur>
                                <feColorMatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.210824275 0"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
                                </feMerge>
                            </filter>
                            <linearGradient id="gradientBackground" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" style="stop-color:rgba(130, 145, 255, 1); stop-opacity:1" />
                                <stop offset="100%" style="stop-color:rgba(110, 30, 235, 1); stop-opacity:1" />
                            </linearGradient>
                            <path id="b" d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z"></path>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(11 7)" fill="url(#gradientBackground)" class="color000000 svgShape">
                                <use fill="url(#gradientBackground)" filter="url(#a)" xlink:href="#b" class="color000000 svgShape"></use>
                                <use fill="url(#gradientBackground)" xlink:href="#b" class="color987efc svgShape"></use>
                            </g>
                            <path fill="#ffffff" d="m299.203 244.306.038.037-75.97 51.242.208.02s-27.303 18.27-33.243 22.393c-5.941 4.123-.018.012-.018.012-3.434 2.756-6.218 1.404-6.218-3.013V189h-19v126.5c0 12.426 10.074 22.5 22.5 22.5a22.4 22.4 0 0 0 13.454-4.464l126.645-85.585a23.103 23.103 0 0 0 2.413-1.63l.914-.618-.054-.08c7.046-5.995 10.23-15.956 7.301-25.534-2.144-7.013-7.118-12.363-13.237-15.13l-151.6-83.976-9.212 16.617 133.138 73.8c0 .002-.002.003-.003.005 8.673 4.819 17.572 9.798 18.086 10.225 1.019.843 1.205 1.256 1.205 1.256 2.857 3.372 2.204 8.125-1.443 10.605l-15.904 10.815z" class="colorffffff svgShape"></path>
                        </g>
                    </svg>

                </a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="flex w-full flex-col ">
        <ul class="menu menu-horizontal bg-base-200 rounded-box mt-6 self-center p-8 overflow-hidden">
            <li @onclick="BackToChoose">
                <a class="tooltip" data-tip="Back">
                    <svg class="w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="Back">
                        <defs>
                            <linearGradient id="gradient5" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" stop-color="rgba(130, 145, 255, 1)" />
                                <stop offset="100%" stop-color="rgba(110, 30, 235, 1)" />
                            </linearGradient>
                        </defs>
                        <path fill="url(#gradient5)" d="M55.991 36.458a16.441 16.441 0 0 1-16.42 16.43H10.009a2 2 0 0 1 0-4h29.562a12.425 12.425 0 0 0 0-24.849h-23.98l6.545 5.381a2 2 0 1 1-2.54 3.09L8.739 23.583c-.024-.02-.042-.044-.065-.065a1.906 1.906 0 0 1-.148-.15l-.016-.015c-.014-.016-.032-.028-.046-.044v-.006c-.021-.025-.036-.054-.055-.08a1.759 1.759 0 0 1-.109-.163c-.008-.013-.019-.025-.026-.039s-.025-.033-.034-.051-.021-.054-.033-.08a2.135 2.135 0 0 1-.072-.178l-.007-.018a1.735 1.735 0 0 1-.087-.353c-.006-.037-.018-.072-.021-.109s0-.071 0-.106-.009-.057-.009-.087.008-.058.009-.088v-.105c0-.035.015-.073.021-.11a1.727 1.727 0 0 1 .087-.353l.007-.018c.022-.061.045-.12.072-.178.012-.026.019-.054.033-.08s.024-.033.034-.051.018-.026.026-.039a1.759 1.759 0 0 1 .107-.163c.019-.026.034-.055.055-.08v-.005c.02-.025.045-.042.066-.066.046-.05.093-.1.144-.144.023-.021.041-.045.065-.065l.01-.009L19.6 11.567a2 2 0 1 1 2.54 3.09l-6.545 5.382h23.98a16.438 16.438 0 0 1 16.416 16.419Z" class="color222222 svgShape"></path>
                    </svg>

                </a>
            </li>

            @if (IsUploading)
            {
                <svg class="w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92" id="Loading">
                    <defs>
                        <linearGradient id="gradient6" x1="0%" y1="0%" x2="100%" y2="100%">
                            <stop offset="0%" stop-color="rgba(130, 145, 255, 1)" />
                            <stop offset="100%" stop-color="rgba(110, 30, 235, 1)" />
                        </linearGradient>
                    </defs>
                    <path d="M46 25.7c-2.2 0-4-1.8-4-4V4.5c0-2.2 1.8-4 4-4s4 1.8 4 4v17.2c0 2.2-1.8 4-4 4zm-11.9 3.9c1.8-1.3 2.2-3.8.9-5.6L24.8 10.1c-1.3-1.8-3.8-2.2-5.6-.9-1.8 1.3-2.2 3.8-.9 5.6l10.1 13.9c.8 1.1 2 1.6 3.2 1.6.9.1 1.8-.2 2.5-.7zm-7.4 10.1c.7-2.1-.5-4.4-2.6-5L7.7 29.4c-2.1-.7-4.4.5-5 2.6-.7 2 .5 4.3 2.6 5l16.4 5.3c.4.1.8.2 1.2.2 1.7 0 3.2-1.1 3.8-2.8zm-19 22.9l16.4-5.3c2.1-.7 3.3-2.9 2.6-5-.7-2.1-2.9-3.2-5-2.6L5.3 55c-2.1.7-3.3 2.9-2.6 5 .5 1.7 2.1 2.8 3.8 2.8.4 0 .8 0 1.2-.2zm17.1 19.3L35 68c1.3-1.8.9-4.3-.9-5.6s-4.3-.9-5.6.9L18.4 77.2c-1.3 1.8-.9 4.3.9 5.6.7.5 1.5.8 2.3.8 1.2 0 2.4-.6 3.2-1.7zM50 87.5V70.3c0-2.2-1.8-4-4-4s-4 1.8-4 4v17.2c0 2.2 1.8 4 4 4s4-1.8 4-4zm22.8-4.7c1.8-1.3 2.2-3.8.9-5.6L63.5 63.3c-1.3-1.8-3.8-2.2-5.6-.9-1.8 1.3-2.2 3.8-.9 5.6l10.1 13.9c.8 1.1 2 1.6 3.2 1.6.9.1 1.8-.2 2.5-.7zm16.5-22.7c.7-2.1-.5-4.4-2.6-5l-16.4-5.3c-2.1-.7-4.4.5-5 2.6-.7 2.1.5 4.4 2.6 5l16.4 5.3c.4.1.8.2 1.2.2 1.7-.1 3.3-1.2 3.8-2.8zm-19-17.8L86.7 37c2.1-.7 3.3-2.9 2.6-5-.7-2.1-2.9-3.2-5-2.6l-16.4 5.3c-2.1.7-3.3 2.9-2.6 5 .5 1.7 2.1 2.8 3.8 2.8.4 0 .8-.1 1.2-.2zm-6.8-13.6l10.1-13.9c1.3-1.8.9-4.3-.9-5.6-1.8-1.3-4.3-.9-5.6.9L57 24c-1.3 1.8-.9 4.3.9 5.6.7.5 1.5.8 2.3.8 1.3 0 2.5-.6 3.3-1.7z" fill="url(#gradient6)" class="color000000 svgShape"></path>
                </svg>
            }
            else
            {
                <li @onclick="() => UploadButtonClicked.InvokeAsync()">
                    <a class="tooltip" data-tip="Upload">
                        <svg class="w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" id="Plus">
                            <defs>
                                <linearGradient id="gradient7" x1="0%" y1="0%" x2="100%" y2="100%">
                                    <stop offset="0%" stop-color="rgba(130, 145, 255, 1)" />
                                    <stop offset="100%" stop-color="rgba(110, 30, 235, 1)" />
                                </linearGradient>
                            </defs>
                            <path d="M8.71 1039.052a1 1 0 0 0-1.707.721v3.784H3.218a1 1 0 1 0 0 2h3.785v3.786a1 1 0 1 0 2 0v-3.784h3.784a1 1 0 0 0 .7-1.728 1 1 0 0 0-.7-.272H9.002v-3.784a1 1 0 0 0-.293-.721z" fill="url(#gradient7)" fill-rule="evenodd" transform="translate(0 -1036.362)"></path>
                        </svg>

                    </a>
                </li>


                <li @onclick="() => DoneButtonClicked.InvokeAsync()">
                    <a class="tooltip" data-tip="Done">
                        <svg class="w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" id="Check">
                            <defs>
                                <linearGradient id="gradient8" x1="0%" y1="0%" x2="100%" y2="100%">
                                    <stop offset="0%" stop-color="rgba(130, 145, 255, 1)" />
                                    <stop offset="100%" stop-color="rgba(110, 30, 235, 1)" />
                                </linearGradient>
                            </defs>
                            <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="url(#gradient8)" class="color000000 svgShape"></path>
                        </svg>

                    </a>
                </li>
            }


        </ul>
    </div>
}

@code {
    [Parameter] public EventCallback<FileType?> UploadFileType { get; set; }
    [Parameter] public EventCallback UploadButtonClicked { get; set; }
    [Parameter] public EventCallback DoneButtonClicked { get; set; }
    [Parameter] public bool IsUploading { get; set; }
    private bool _chooseUploadTypeToolBar = true;


    private void Choose(FileType fileType)
    {
        UploadFileType.InvokeAsync(fileType);
        _chooseUploadTypeToolBar = false;
    }

    private void BackToChoose()
    {
        UploadFileType.InvokeAsync(null);
        _chooseUploadTypeToolBar = true;
    }

}