@using AnswerMe.Client.Core.AnimationLibrary
@inject IJSRuntime Js
<div class="holder @_elementAnimation">
    <div class="audio green-audio-player">
        <div class="loading">
            <div class="spinner"></div>
        </div>
        <div class="play-pause-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                <path fill="#F5DEB3" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon" id="playPause"/>
            </svg>
        </div>

        <div class="controls">
            <span class="current-time">0:00</span>
            <div class="slider" data-direction="horizontal">
                <div class="progress">
                    <div class="pin" id="progress-pin" data-method="rewind"></div>
                </div>
            </div>
            <span class="total-time">0:00</span>
        </div>

        <div class="volume">
            <div class="volume-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#F5DEB3" fill-rule="evenodd" d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z" id="speaker"/>
                </svg>
            </div>
            <div class="volume-controls hidden">
                <div class="slider" data-direction="vertical">
                    <div class="progress">
                        <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                    </div>
                </div>
            </div>
        </div>

     
            <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="Close">
                <path  fill="none" d="M0 0h24v24H0Z"></path>
                <path style="cursor: pointer" @onclick="ClosePlayer" fill="#f5deb3" d="M15.741 17.61 12 13.87l-3.742 3.74a1.323 1.323 0 0 1-1.873-1.869L10.128 12 6.385 8.258a1.324 1.324 0 0 1 1.873-1.873L12 10.127l3.741-3.742a1.324 1.324 0 0 1 1.873 1.873L13.872 12l3.742 3.741a1.323 1.323 0 0 1-1.873 1.869Z" class="color525863 svgShape"></path>
            </svg>
  

        <audio  crossorigin>
            <source src="@Url" type="audio/mp3">
        </audio>
    </div>
</div>

@code {
    [Parameter] public required string Url { get; set; }
    [Parameter] public EventCallback Close { get; set; }
    private string _elementAnimation = "fade-in-down";
    private IJSObjectReference? module;
    private string? previousUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || Url != previousUrl)
        {
            if (module != null)
            {
                await module.DisposeAsync();
            }

            module = await Js.InvokeAsync<IJSObjectReference>("import", "../Components/Media/AudioPlayer.razor.js");

            await module.InvokeVoidAsync("StartAudioPlayer");
        }
    }

    private async Task ClosePlayer()
    {
        _elementAnimation = "fade-out-up";
        await Task.Delay(300);
        await Close.InvokeAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

}