@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using AnswerMe.Client.Componenets
<AuthorizeView>
    <Authorized>
       
        <div class="nav-section menu-on ">
            <NavMenu/>
        </div>

        <div id="MainBody" class="body-content transition-transform">
            @Body
        </div>
   
    </Authorized>

    <NotAuthorized>
        <Login/>
    </NotAuthorized>

</AuthorizeView>
