<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="css/tailwind.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="scriptjs/tailwind-3.3.5.js"></script>
<script src="scriptjs/app.js"></script>
</body>

</html>