@using AnswerMe.App.Client.Componenets
@inherits LayoutComponentBase

@* <div class="flex">
   <div class="sm:w-screen md:w-screen lg:w-1/4 xl:w-1/4 2xl:w-1/4">
        <NavMenu  @rendermode="RenderMode.InteractiveWebAssembly" />
   </div>
    
    <main>
      

        <div class="sm:w-screen md:w-screen lg:w-3/4 xl:w-3/4 2xl:w-3/4  h-screen w-3/4" style="background-color:antiquewhite">
        <MainBody>
            @Body
        </MainBody>
        </div>
    </main>
</div> *@




<div class="nav-section menu-on ">
    <NavMenu/>
</div>

<div id="MainBody" class="body-content transition-transform">
    @Body
</div>
