@using AnswerMe.Client.Core.Models


@foreach (var item in UploadedMediaList.Take(1))
{
    <div class="avatar rounded-[10px]">
        <div class="w-12">
            <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 64 64" id="blankpaper">
                <g transform="translate(-2188 -168)" fill="#6563ff" class="color000000 svgShape">
                    <path d="M2242,190.112L2238.9,189.95C2235.54,189.775 2232.18,189.432 2228.82,188.941C2228.82,188.941 2228.82,188.941 2228.82,188.94C2224.9,188.354 2222,184.989 2222,181.028L2222,170.02C2221.33,170.007 2220.67,170 2220,170C2214.94,170 2209.88,170.404 2204.82,171.151C2204.81,171.151 2204.81,171.152 2204.81,171.152C2200.9,171.741 2198.01,175.101 2198.01,179.056C2198,189.007 2198,211.033 2198,220.967C2198,224.917 2200.88,228.276 2204.79,228.875C2204.79,228.876 2204.8,228.876 2204.8,228.877C2209.87,229.624 2214.93,230 2220,230C2225.07,230 2230.14,229.623 2235.2,228.867C2235.2,228.867 2235.21,228.867 2235.21,228.866C2239.11,228.268 2241.99,224.913 2241.99,220.967C2242,212.553 2242,195.972 2242,190.112ZM2226,171.31L2226,181.028C2226,183.008 2227.45,184.69 2229.41,184.984C2232.64,185.456 2235.87,185.787 2239.1,185.956L2240.78,186.043C2240.62,185.82 2240.43,185.608 2240.23,185.409L2226.53,171.775C2226.36,171.609 2226.18,171.454 2226,171.31Z" fill="#6563ff" class="color000000 svgShape"></path>
                </g>
            </svg>
        </div>
    </div>
}
@if (UploadedMediaList.Count > 1)
{
    <div class="avatar placeholder rounded-[10px]">
        <div class="bg-neutral text-neutral-content w-12">
            <span>+@(UploadedMediaList.Count - 1)</span>
        </div>
    </div>
}

@code
{
    [Parameter] public List<UploadModel> UploadedMediaList { get; set; } = null!;
}